# Rules
*~

# Just like don't have most of this
AvalonRoles
.bash_logout
.bdcalc_history
bin
.cache
.config
.dbus
Desktop
Documents
Downloads
.emacs-backup
.emacs.d
.fltk
.fonts
Fonts
.gconf
.ghc
.gimp-2.8
.git
.gitconfig
.gnome
.gnome2
.gnome2_private
.gnupg
.gnuradio
.gr_fftw_wisdom
.gtk-bookmarks
.histfile
.hplip
.ICEauthority
.js
.klei
.lesshst
.local
.mozilla
Music
nano.save
nltk_data
.oracle_jre_usage
Pictures
.pip
.pki
.profile
Programs
Public
.pulse-cookie
.python_history
.recently-used
.ros
.rtorrent.rc
.sambox.cache
.sdpl-system-config2
.sejda
.ssh
.steam
.steampath
.steampid
stg
Templates
.texmf-var
.themes
.thumbnails
Videos
VirtualBox VMs
VM Shared
.volk
.zcompdump
